@import "tailwindcss";

@theme {
  --color-neon-blue: #00f0ff;
  --font-display: "Sarabun", sans-serif;
}

/* --- แก้ไข Path ให้ชี้ไปที่ src/assets --- */
body {
  /* ใส่จุด (.) นำหน้า เพื่อบอกว่าเริ่มจากโฟลเดอร์ปัจจุบัน (src) */
  cursor: url('./assets/images/cursor.png'), auto; 
}

button, 
a, 
.cursor-pointer,
[role="button"] {
  cursor: url('./assets/images/pointer.png'), pointer;
}